/* header */
header {
    width: 100%;
    z-index: 1000%;
}

header h2 {
    color: rgb(255, 238, 238);
    font-size: 25px;
    padding-left: 30px;
    padding-top: 5px;
}

/* menu */
.menu {
    position: absolute;
    top: 20px;
    right: 28px;
    display: flex;
    gap: 28px;
    z-index: 10;
}

.menu a {
    font-size: 30px;
    padding-left: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    opacity: 0.85;
    transition: 0.2s ease;
    cursor: pointer;
}

.menu a:hover {
    opacity: 1;
    transform: translateY(-2px);
}

body {
    background: #000000;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
}